.clear{
	clear: both;
}

.ic-main-container{
	margin: 65px auto;
}

.ic-main-container .ic-main-container__breadcrumbs{
	position: fixed;
	width: 100%;
	left: 5%;
}

.ic-main-container .ic-main-container__breadcrumbs--record{
	left: auto;
	position: relative;
}

.ic-main-container .ic-main-container__send-container{
	padding: 20px;
	border: 1px #ccc solid;
	position: fixed;
	margin-top: 45px;
	background-color: #fdfdfd !important;
	min-height: 100px;
	overflow: auto;
	width: 38%;
	left: 5%;
}

.ic-main-container .ic-main-container__feed-container{
	padding: 35px;
	border: 1px #ccc solid;
	position: absolute;
	right: 5%;
	margin-top: 45px;
	background-color: #fdfdfd !important;
	min-height: 100px;
	width: 50%;
	margin-bottom: 10px;
}

.ic-main-container .ic-main-container__feed-container--record{
	left: 0%;
	margin: 0 auto;
	margin-top: 30px;
	width: 800px;
}

.ic-main-container .ic-main-container__send-container .ic-main-container__send-container__textarea{
	border: 1px #d9d9d9 solid;
	width: 100%;
	height: 100%;
	padding: 5px;
	z-index: 1;
	-webkit-appearance: none;
	margin-bottom: 20px;
}

.ic-main-container .ic-main-container__send-container .CodeMirror{
	border: solid 1px #d9d9d9;
	margin-bottom: 10px;
}

.ic-main-container .ic-main-container__send-container .ic-main-container__send-container__checkbox-container{
	
}

.ic-main-container .ic-main-container__send-container .ic-main-container__send-container__button{
	margin-left:10px;
}

.ic-main-container .ic-main-container__feed-container .CodeMirror{
	border: solid 1px #d9d9d9;
}

.ic-main-container .ic-main-container__feed-container .notice{
	margin-bottom: 20px;
}

.ic-main-container .ic-main-container__feed-container .fg-white{
	padding-left: 20px;
	padding-right: 20px;
}

@media (max-width: 900px){
	.ic-main-container{
		width: 80%;
	}

	.ic-main-container .ic-main-container__breadcrumbs{
		left: auto;
		position: relative;
	}

	.ic-main-container .ic-main-container__send-container{
		position: relative;
		margin: 45px auto;
		width: 100%;
		left: auto;
	}

	.ic-main-container .ic-main-container__feed-container{
		position: relative;
		right: auto;
		width: 100%;
	}	

}
